.login-page-child {
  position: absolute;
  top: 65px;
  left: 59px;
  width: 136px;
  height: 136px;
  object-fit: cover;
}
.leak-lounge13 {
  position: absolute;
  top: 68px;
  left: 201px;
  font-size: var(--font-size-77xl);
  color: var(--color-forestgreen-100);
}
.login-page-item {
  position: absolute;
  top: 240.5px;
  left: 71.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1233px;
  height: 1px;
}
.login-to-your {
  position: absolute;
  top: 272px;
  left: 337px;
  font-size: 64px;
}
.name {
  position: absolute;
  top: 438px;
  left: 280px;
}
.email-or-phone {
  margin: 0;
}
.email-or-phone-container {
  position: absolute;
  top: 614px;
  left: 287px;
}
.login-page-inner {
  position: absolute;
  top: 564px;
  left: 183px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.login-page-child1,
.login-page-child2 {
  position: absolute;
  top: 481px;
  left: 285px;
  width: 861px;
  height: 2px;
  object-fit: contain;
}
.login-page-child2 {
  top: 677px;
  left: 288px;
  width: 858px;
  height: 1px;
}
.password1 {
  position: absolute;
  top: 773px;
  left: 285px;
}
.login-page-child3 {
  position: absolute;
  top: 837px;
  left: 290px;
  width: 856px;
  height: 2px;
  object-fit: contain;
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: red;
  width: 182px;
  height: 41.3px;
}
.login1 {
  position: absolute;
  top: 9px;
  left: 69px;
  font-weight: 500;
  display: inline-block;
  width: 43.2px;
  height: 23.1px;
}
.rectangle-group {
  position: absolute;
  top: 927px;
  left: 625px;
  width: 182px;
  height: 41.3px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.login-page {
  width: 100%;
  position: relative;
  background-color: #c0dac2;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
