.dribbble {
  position: absolute;
  top: 66px;
  left: 601px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.best-sellers {
  margin: 0;
}
.best-sellers-commonly-container {
  position: absolute;
  top: 113px;
  left: 527px;
  line-height: 152.4%;
  display: inline-block;
  width: 664px;
  height: 342px;
}
.plants-cure-vth-container,
.support-request-contact-container {
  position: absolute;
  top: 122px;
  left: 54px;
  line-height: 152.4%;
  color: var(--color-maroon-200);
  display: inline-block;
  width: 344px;
  height: 434px;
}
.support-request-contact-container {
  top: 136px;
  left: 1068px;
  color: var(--color-maroon-100);
  width: 311px;
  height: 203px;
}
.dribbble-parent,
.header-child {
  position: absolute;
  left: 0;
  width: 1440px;
}
.dribbble-parent {
  top: 1168px;
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  height: 578px;
  overflow: hidden;
  font-size: var(--font-size-29xl);
  color: var(--color-sienna);
  font-family: var(--font-raleway);
}
.header-child {
  top: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 107px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 40.19%;
  width: 2.15%;
  top: 40.19%;
  right: 6.46%;
  bottom: 19.63%;
  left: 91.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 59.53%;
  top: 30.84%;
  right: 11.32%;
  bottom: 9.63%;
  left: 86.53%;
}
.header-item {
  position: absolute;
  top: 42px;
  left: 1369px;
  width: 47px;
  height: 44px;
  object-fit: cover;
}
.header-inner,
.leak-lounge {
  position: absolute;
  top: 22px;
  left: 99px;
}
.header-inner {
  top: 24px;
  left: 392px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 636px;
  height: 67px;
}
.charulota {
  position: absolute;
  top: 42px;
  left: 469px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-silver);
  display: inline-block;
  width: 148.7px;
  height: 31px;
}
.union-icon {
  position: relative;
  width: 27.6px;
  height: 25.4px;
}
.rectangle-icon {
  position: absolute;
  top: 11px;
  left: 18px;
  width: 81px;
  height: 75px;
  object-fit: cover;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 107px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-krona-one);
}
.near-radhesham-hotel {
  margin: 0;
  white-space: pre-wrap;
}
.delivery-address-b506shival-container1 {
  width: 100%;
}
.delivery-address-b506shival-container {
  position: absolute;
  height: 7.27%;
  width: 52.92%;
  top: 15.41%;
  left: 4.03%;
  display: flex;
  align-items: center;
}
.wireframe-1-child {
  position: absolute;
  height: 22.39%;
  width: 56.39%;
  top: 32.82%;
  right: 43.61%;
  bottom: 44.79%;
  left: 0;
  border-radius: 56px;
  background-color: var(--color-lightgoldenrodyellow-100);
}
.credit-card-or,
.select-your-payment {
  position: absolute;
  top: 29.67%;
  left: 3.75%;
  font-size: var(--font-size-5xl);
}
.credit-card-or {
  top: 35.11%;
  left: 10.83%;
}
.ellipse-div,
.wireframe-1-child1,
.wireframe-1-inner,
.wireframe-1-item {
  position: absolute;
  height: 2.29%;
  width: 2.78%;
  top: 34.99%;
  right: 91.74%;
  bottom: 62.71%;
  left: 5.49%;
  border-radius: 50%;
  background-color: var(--color-gray-300);
}
.ellipse-div,
.wireframe-1-child1,
.wireframe-1-inner {
  top: 40.26%;
  bottom: 57.45%;
}
.ellipse-div,
.wireframe-1-child1 {
  top: 45.53%;
  bottom: 52.18%;
}
.wireframe-1-child1 {
  top: 50.8%;
  bottom: 46.91%;
}
.cash-on-delivery,
.net-banking,
.upi {
  position: absolute;
  top: 40.32%;
  left: 10.83%;
  font-size: var(--font-size-5xl);
}
.cash-on-delivery,
.upi {
  top: 45.65%;
}
.cash-on-delivery {
  top: 50.92%;
}
.rectangle-div {
  position: absolute;
  height: 46.56%;
  width: 28.06%;
  top: 12.08%;
  right: 4.93%;
  bottom: 41.35%;
  left: 67.01%;
  border-radius: 89px;
  background-color: rgba(206, 230, 192, 0.81);
}
.discount-,
.order-total-990- {
  position: absolute;
  white-space: pre-wrap;
}
.order-total-990- {
  top: 897px;
  left: 1003px;
  font-weight: 600;
}
.discount- {
  top: 695px;
  left: 986px;
}
.delivery-charge-000-,
.items-amount-1000-,
.total-amount-1000- {
  position: absolute;
  top: 602px;
  left: 986px;
  white-space: pre-wrap;
}
.delivery-charge-000-,
.items-amount-1000- {
  top: 512px;
}
.items-amount-1000- {
  top: 419px;
}
.order-summary {
  position: absolute;
  top: 273px;
  left: 1062px;
  font-size: var(--font-size-11xl);
  text-decoration: underline;
}
.line-icon {
  position: absolute;
  top: 811px;
  left: 1003px;
  width: 331px;
  height: 1px;
  object-fit: contain;
}
.wireframe-1-child2 {
  position: absolute;
  top: 1024px;
  left: 439px;
  border-radius: 142px;
  background-color: var(--color-lightgoldenrodyellow-100);
  width: 492px;
  height: 111px;
}
.continue {
  position: absolute;
  top: 1051px;
  left: 608px;
  font-size: 37px;
  font-weight: 600;
}
.wireframe-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1746px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-halant);
}
