.register-page-child,
.register-page-child1,
.register-page-child2,
.register-page-inner,
.register-page-item {
  position: absolute;
  top: 240px;
  left: 756px;
  border-radius: var(--br-31xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
  width: 367px;
  height: 34px;
}
.register-page-child1,
.register-page-child2,
.register-page-inner,
.register-page-item {
  top: 164px;
}
.register-page-child1,
.register-page-child2,
.register-page-inner {
  top: 396px;
  left: 758px;
}
.register-page-child1,
.register-page-child2 {
  top: 321px;
  left: 760px;
  width: 357px;
  height: 29px;
}
.register-page-child2 {
  top: 472px;
  left: 758px;
  width: 367px;
  height: 34px;
}
.full-name,
.username {
  position: absolute;
  top: 210px;
  left: 756px;
}
.full-name {
  top: 134px;
}
.login {
  font-weight: 500;
}
.group-child,
.yes-i-have-container {
  position: absolute;
  top: 590px;
  left: 838px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: #0d140c;
  width: 365px;
  height: 34px;
}
.register {
  position: absolute;
  top: 7px;
  left: 150px;
  font-weight: 500;
}
.rectangle-parent {
  position: absolute;
  top: 529px;
  left: 760px;
  width: 365px;
  height: 34px;
  color: var(--color-white);
}
.email,
.password {
  position: absolute;
  top: 366px;
  left: 760px;
}
.email {
  top: 290px;
  left: 758px;
}
.confirm-password {
  position: absolute;
  top: 442px;
  left: 760px;
}
.social-media-icons {
  position: absolute;
  height: 7.56%;
  width: 21.18%;
  top: 69.54%;
  right: 24.03%;
  bottom: 22.9%;
  left: 54.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.please-fill-out {
  position: absolute;
  top: 92px;
  left: 818px;
  color: #1a1a1a;
}
.group-icon,
.register-page-child4 {
  position: absolute;
  top: 156px;
  left: 59px;
  width: 548px;
  height: 549px;
  object-fit: contain;
}
.register-page-child4 {
  top: 705px;
  width: 136px;
  height: 136px;
  object-fit: cover;
}
.leak-lounge6 {
  position: absolute;
  top: 708px;
  left: 201px;
  font-size: var(--font-size-77xl);
  color: var(--color-forestgreen-100);
}
.register-page {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: #d0e9d1;
  height: 952px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
